/* Clear all browser-dependent styles */
/*@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);*/

@import url('https://fonts.googleapis.com/css?family=Hind');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #dee2e6;
    background-color: #212529;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 0;
}
.menu-panel {
    align-items: center;
    width: 200px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-color: darkgray;
    background-color: gray;
}
.bottom-panel {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    border-style: inset;
    border-color: darkgray;
    background-color: gray;
}
.score {
    line-height: 1;
    text-align: center;
}

.score span {
    font-size: 3.25rem;
}

.current-score {
}

.high-score {
}

.btn {
    /*flex: 1 1 auto;*/
    margin: 10px;
    /*padding: 30px;*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.btn:hover {
    background-position: right center; /* change the direction of the change here */
}
.btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.restart-trigger {
}

.pause-trigger {
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    color: #293ae6;
    background-color: #d4e9fe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    /*opacity: 0.9;*/
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
canvas {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

@media (min-height: 0px) {
    .container { transform: scale(0.25); }
}
@media (min-height: 400px) {
    .container { transform: scale(0.5); }
}
@media (min-height: 600px) {
    .container { transform: scale(0.75); }
}
@media (min-height: 800px) {
    .container { transform: scale(1); }
}